html{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  display: block;
  margin: 0px;
}

.circle{
  border: 9px solid black;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.line{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 2px;
  position: absolute;
  left: 51%;
  top: 12%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.line2{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 2px;
  position: absolute;
  left: 51%;
  top: 88%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.line3{
  border: 9px solid black;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 2px;
  position: absolute;
  left: 68%;
  top: 53%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.line4{
  border: 9px solid black;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 2px;
  position: absolute;
  left: 32%;
  top: 53%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.line5{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  left: 60%;
  top: 17%;
}

.line6{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(69deg);
  position: absolute;
  left: 66%;
  top: 32%;
}

.line7{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(130deg);
  position: absolute;
  left: 64.5%;
  top: 70.2%;
}

.line8{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(145deg);
  position: absolute;
  left: 58%;
  top: 83%;
}

.line9{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(30deg);
  position: absolute;
  left: 40.5%;
  top: 82%;
}

.line10{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(70deg);
  position: absolute;
  left: 34%;
  top: 67%;
}

.line11{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(115deg);
  position: absolute;
  left: 34%;
  top: 30%;
}

.line12{
  border: 9px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 20px;
  transform: rotate(130deg);
  position: absolute;
  left: 39.5%;
  top: 17%;
}

.num1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 58%;
  top: 11%;
}

.num2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 63%;
  top: 23%;
}

.num3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 64.5%;
  top: 40%;
}

.num4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 61.8%;
  top: 58%;
}

.num5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 56%;
  top: 69%;
}

.num6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 49.3%;
  top: 72%;
}

.num7{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 42%;
  top: 65%;
}

.num8{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 35.5%;
  top: 56%;
}

.num9{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 33.5%;
  top: 39%;
}

.num10{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 35.5%;
  top: 22%;
}

.num11{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 41%;
  top: 10%;
}

.num12{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  left: 48.5%;
  top: 6%;
}
